

<div id="container">
<div id="top_block">

	

<div id="header">
<br>
<div style="font-family:Fantasy, Comic Sans;">
<h1>Sneha's Blog</h1>
</div>
</div>


<div id="nav">
<ul>



<li class="button"><%= link_to 'POSTS', posts_path %></li>
</ul>
</div><br>
</div>


<div id="main">
	<div id="block">
<div id="main_left">
	<h2>Edit post</h2>
	<%= render 'form' %> 
</div>

</div>
</div>

</div>




















