

<h1><center>Sneha's Blog</h1>

<div style="font-family:verdana;padding:5px;border-radius:10px;border:5px solid #666666;">
<h2>Edit post</h2>
 
<%= render 'form' %> 


</div>
<div style="text-align:right;font-size: 1.2em;">	
<%= link_to 'Back', posts_path %>
</div>