@import "bootstrap";

body 
{
	color:#40B3DF;
	background-color:#cccccc;
}

h1
{
	font-family:verdana;
	padding:5px;
	border-radius:10px;
	border:5px solid #666666;
}


table,th,td
{
border:1px solid black;
border-collapse:collapse
}

table
{
	width:600px
}

th
{
  background-color:#666666
}


tr 
{
font-size: 1.4em;
}